body {
    background-color: #111111;
    background-position: center;
    color: whitesmoke;
    font-family: sans-serif;
}

table,
th,
td {
    border: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-collapse: collapse;
}

td:hover {
    background-color: rgba(255,255,255,.1);
    z-index: -1;
}

td > a {
  color: inherit;
  text-decoration: inherit;
}


.quicklinks {
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    /* TODO: blend edges with background */
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
}
